<section data-ng-controller="NeedsController">
  <div class="page-header">
    <h1>New Need</h1>
  </div>
  <div class="col-md-12">
    <form name="needForm" class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="5" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="location">Location</label>
          <div class="controls">
            <input name="location" type="text" data-ng-model="location" id="location" class="form-control" placeholder="Location">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="numberNeeded">Number Needed</label>
          <div class="controls">
            <input name="numberNeeded" type="text" data-ng-model="numberNeeded" id="numberNeeded" class="form-control" placeholder="Number Needed">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="startDate">Start Date</label>
          <div class="controls">
            <input name="startDate" type="text" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date">
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

<!-- $scope.title = '';
        $scope.description = '';
        $scope.organization = '';
        $scope.location = '';
        $scope.numberNeeded = 1;
        $scope.startDate = Date.now;
        $scope.endDate = null;
        -->
